@font-face
{
    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'raleway', serif;
}

#liheader
{
    color: #0065fc ;

}

ul 
{
    list-style-type: none;
}

i
{
    color: #0065fc ;
}

#mapmarker
{
    color: black;
}

header
{
    display: flex ;
    justify : space-between ; 
}

#ulheader
{
    display: flex;
    margin-top: 33px;
    margin-left: 550px;
    justify-content : space-between; 
}