@font-face
{
    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'raleway', serif;
}

#liheader
{
    color: #0065fc ;
    margin-right: 60px;
    margin-left: 60px;
}

ul 
{
    list-style-type: none;
}

i
{
    color: #0065fc ;
}

#mapmarker
{
    color: black;
    background-color: #F2F2F2;
    padding: 13px 15px;
    border-radius: 11px 0 0 11px;
    text-align: center;
}

.saisie
{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 11px 2px;
    box-sizing: border-box;
    width: 232px;
    font-size: 14px;
    font-weight: bold;
}

.rechercher
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0 11px 11px 0;
    padding: 11px;
    border: none;
}

header
{
    display: flex ;
    justify-content : space-between ; 
}

#ulheader
{
    display: flex;
}

li 
{
    display: list-item;
    text-align: webkit-match-parent;
}

.bold
{
    font-weight: bold;
}

.borderheader
{
    border-top: 2px #0065fc solid ;
    padding-top: 2px;
}

h1
{
    font-size: 18px;
    font-weight: bolder;
}

h2
{
    font-size: 14px;
}

.section1p
{
    font-size: 11px;
}

.lisection1
{
    font-size: 24px;
}

form
{
    border-radius: 100px;
}

.uldiv1
{
    display: flex;
}

.h2section1
{
    padding: 14px;
}

#ulsection1
{
    display: flex;
}

#filtres
{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

.isection1
{
  background-color: #DEEBFF;
  border-radius: 50%;
  height: 30px;
  width: 34px;
  min-height: 34px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.titressection1
{
    margin: 5px;
}

footer
{
    border: #f2f2f2;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
}

.ulfooter
{
    text-align: left;
    font-size: 14px;
}

.conteneur
{
    width: 80%;
    min-width: 400px;
    max-width: 800px;
    min-height: 200px;
    max-height: 800px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
}

.hebe
{
    width: 20%;
}

#hebeart
{
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 100px;
}

aside
{
    width: 80%;
    min-width: 400px;
    max-width: 800px;
    min-height: 200px;
    max-height: 800px;
    border-radius: 10px;
    background-color: #f2f2f2; 
    padding: 10px;
    width: 200px;
}

.imgaside
{
    width: 40%;
    float: left;
}

#asideart
{
    background-color: white;
    border-radius: 10px; 
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.actvites
{
    width: 80%;
    min-width: 400px;
    max-width: 800px;
    min-height: 200px;
    max-height: 800px;
    margin: auto;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.imgacti
{
    width: 30%;
}

#actart
{
    background-color: white;
    border-radius: 10px;  
}